/* Navbar, Footer */

nav, footer {
    background-color: rgb(0, 162, 232);
}

.nav-button {
    border-style: solid;
    border-color: white;
    color: white;
  }

.nav-button:hover {
    color: rgb(0, 162, 232);
    background-color: white;
}

/* All pages: page size */

.large-page {
    height: 1080px;
}

.medium-page {
    height: 720px;
}

.small-page {
    height: 480px;
}

/* Home */

.widget-button {
    height: 250px;
}